body {
    margin: 0 ;
    padding: 0 ;
    font-family: 'Foldit', cursive;
    background-color: #000;
}
/* .background-video {
    position: absolute;
    left: 0 ; top: 0 ;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(30%);
    z-index: -1;
} */

h1 {
    padding: 8vh 0 4vh;
    font-family: 'Foldit';
    color: #fff;
    text-align: center;
    font-size: 60px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
.container p {
    font-size: 35px;
    text-align: center;
}
.container img {
    width: 250px;
}

@media screen and (min-width: 360px ) and (max-width: 740px ) {

    .background-video {
        height: 120vh;
    }
    h1 {
        padding-top: 40px ;
        font-size: 40px;
    }
    .container img {
        width: 200px;
    }
}